<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan" style="color:#875A7B;">POS Remove Orderline</h2>
        <h3 class="oe_slogan">Remove selected orderline using delete key</h3>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span6">
            <div class="oe_bg_img">
                <img class="oe_picture oe_screenshot" src="image_001.gif">
            </div>
        </div>
        <div class="oe_span6">
            <h3 class="oe_slogan" style="font-weight: 400;">
                Remove orderline
            </h3>
            <h2 style="font-family: Lato, Open Sans, Helvetica, Sans;font-weight: 300">
                Using on-screen keyboard or external keyboard remove selected orderline by pressing <kbd>DELETE</kbd> key
            </h2>
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row text-center">
        <h2 class="oe_slogan">Dependancy Modules</h2>
    </div>
    <h2 style="font-family: Lato, Open Sans, Helvetica, Sans;font-weight: 300">
        <div class="oe_row">
            - Point Of Sale: <a href="https://www.odoo.com/page/point-of-sale-shop" target='new'>https://www.odoo.com/page/point-of-sale-shop</a>
        </div>
    </h2>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row text-center">
        <h2 class="oe_slogan">Technical help, support</h2>
        <div class="oe_row">
            <a class="btn btn-primary" style="font-size: large" href="mailto:info@mptechnolabs.com"><i class="fa fa-envelope"></i><span> info@mptechnolabs.com</span></a>
        </div>
        <div class="oe_row">
            <a class="btn btn-primary" style="font-size: large" href="skype:mayur.akabari?chat"><i class="fa fa-skype"></i><span> mayur.akabari</span></a>
        </div>
        <div class="oe_row">
            <i class="fa fa-phone" style="font-size: large;"></i><span style="font-size: large;"> +91 9913740832</span></a>
        </div>
    </div>
</section>
